.navbar{
    background-color: $bgNav;
    height: auto;
    border: 1px solid white;
    margin: 10px;
        ul{
        padding: 10px;
        margin: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        justify-content: space-evenly;
        
    }
}

.navbar{
    div{
        div{
            ul{
                .actual{
                    background-color: white;
                    border-color: $btnborder;
                    transform: translate(0px, -5px);}
            }
        }
    }
}

.navbar{
    div{
        div{
            ul{
                .anchor{
                    font-size: 31px;
                    font-weight: 500;
                    color: black;
                    text-transform: uppercase;
                    text-decoration: none;
                    padding: 20px 40px 20px 40px;
                    line-height: 35px;
                }
            }
        }
    }
}

@media only screen and (min-width: 991px){

.body{
    div{
        .navSticky{
        position: sticky;    
        top: 1px;    
        z-index: 1;
        }
    }
}

}

@media only screen and (max-width: 768px){

.navbar{
    background-color: $bgNav;
    height: auto;
    border: 1px solid white;
    margin: 10px;
}
        
.nav__body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
}