<!DOCTYPE html>
<html lang="es">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Publicaciones recientes y próximas a ser publicadas">
    <meta name="keywords" content="marcos martinez metapsicosis rostro mael autor escritor editorial thelema terror psicológico publicaciones libro portada">
    <link rel="shortcut icon" href="../assets/favicon-mael.png" type="image/x-icon">

    <title>Metapsicosis | Publicaciones</title>

    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Special+Elite&family=Yanone+Kaffeesatz&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body class="body">
    <div class="container-fluid">
        <!-- banner header -->
        <header class="row">
            <a class="col-lg-12 col-12" href="../index.html"><img class="imgMap" src="../assets/Banner.png" alt="Baner Marcos Martinez"></a>
        </header>
        <!-- cierre banner header -->
        <!-- apertura barra nav -->
        <div class="row navSticky">
            <div class="col-lg-12 col-12">
                <nav class="navbar navbar-expand-xl navbar-light">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="col-lg-12 col-12 nav__body">
                                <li><button class="btn nav__inicio"><a class="anchor" href="../index.html">Inicio</a></button></li>
                                <li class="actual"><button class="btn"><a class="anchor" href="#">Publicaciones</a></button></li>
                                <li><button class="btn nav__inicio"><a class="anchor" href="./sobremi.html">Sobre mi</a></button></li>
                                <li><button class="btn"><a class="anchor" href="./presentaciones.html">Presentaciones</a></button></li>
                                <li><button class="btn nav__inicio"><a class="anchor" href="./contacto.html">Contacto</a></button></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
         <!-- cierre barra nav -->


        <main class="container-fluid principal">
            <section class="row section">
                <div class="col-lg-12 col-12 principal__titulo">
                    <h1>
                        Metapsicosis, cuentos y poemas. Fecha de publicación: 03/08/2019
                    </h1>
                </div>
                <div class="col-lg-6 col-12 libros__img">
                    <img src="../assets/portada_metapsicosis.png" alt="Metapsicosis" class="imgMap">
                </div>
                <div class="col-lg-6 col-xl-6 libros__texto" style="margin-top: 10px;">
                    <p>
                        En esta obra, les concedo tres historias de horror esotérico, en las cuales vemos reflejados nuestros temores más privados.                         
                        El diario de Alexander Forsberg es una historia polémica, 
                        donde un personaje egoísta se ve forzado a reconocer su propia maldad padeciendo las miseras que el mismo ocasionó.

                        La estatuilla de Ereshkigal muestra el horror oculto en el poder antiguo que la historia ha enterrado.

                        Finalmente, El sol negro, relata los días finales de un profesor retirado, cuya consciencia llegó a conocer el destino de su alma justo antes de dejar este mundo para siempre.
                    </p>
                </div>
                <div class="carritocompras">
                    <a target="_blank" href="https://www.mercadopago.com.ar/checkout/v1/payment/redirect/a07783dd-2bbe-49d1-9d0a-b02790dbe21d/payment-option-form/?router-request-id=e920b563-63fc-4d0e-8731-951aa46dc7c6&preference-id=193999884-98ccd76f-f030-4c09-b85e-ad7712e9e45c&p=11ef23d3777f7b37708662baf6c5c75b#/">
                            <img class="shopp" src="../assets/carritocompra.png" alt="Carrito de compras" width="100">
                    </a>
                </div>
            </section>

            <section class="row section">
                <div class="col-lg-12 principal__titulo">
                    <h2 id="rostromael">
                        El Rostro de Mael
                    </h2>
                </div>

                <div class="col-lg-6 col-12 libros__img">
                    <img src="../assets/rostromael_portada.png" alt="Portada El rostro de Mael" class="imgMap">
                </div>

                    <p class="col-lg-6 col-xl-6 libros__texto texto--mael">
                        La portada del próximo libro "El rostro de Mael" a publicar. Realizada por mi muy querida
                        amiga, Victoria Azparren Decroce, y cuya publicación estará a cargo de Editorial Thelema.
                    </p>
            </section>

        </main>

        <footer class="row">
            <div class="col-lg-4 col-4 footer__social ft--radius">
                <a target="_blank" href="https://www.instagram.com/pasaje_vespertino/">
                    <img src="../assets/instagram_logo2-1.png" alt="Instagram" width="50">
                </a>
            </div>
            <div class="col-lg-4 col-4 footer__social ft--radius">
                <a target="_blank" href="https://www.facebook.com/alsophocus13">
                <img src="../assets/facbook_logo2-1.png" alt="Facebook" width="50">
            </a>
            </div>
            <div class="col-lg-4 col-4 footer__social logo__twitter">
                <a target="_blank" href="https://twitter.com/elmetapsicotico">
                <img src="../assets/twitter_logo2-1.png" alt="Logo Twitter" width="50">
            </a>
            </div>
            <div class="col-lg-12 col-12 derechos">
                <a target="_blank" href="https://github.com/FacuAlcorta">® Diseñado por Facundo Alcorta</a>
            </div>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>